<html>

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>

<body>
    <div id="app_">
        <div>
            <img v-bind:src="treasure.link" width="100" v-show=treasure.visible v-for="treasure in treasures"></img>
        </div>
        <div>
            <input type="text" v-model:value="arm_parameter.prob" size="15" v-show=arm_parameter.visible v-for="arm_parameter in arm_parameters"></input>
        </div>

        <span>Number of arms</span>
        <select v-model="selected" v-on:change="number_of_arms_select">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <div>
            <template v-if="auto_mode_flag == false">
                <button v-on:click="start">Start</button>
            </template>
            <template v-else>
                <template v-if="auto_flag == false">
                    <button v-on:click="auto">Auto</button>
                </template>
                <template v-else>
                    <button v-on:click="stop">Stop</button>
                </template>
            </template>
            <button v-on:click="clear">Clear</button>
        </div>

        <div>
            <input type="checkbox" v-model="auto_mode_flag" v-on:change="auto_mode_check">
            <label for="checkbox">Auto Mode</label>
        </div>


    </div>
    <script src="/resources/js/index.js"></script>
</body>

</html>